html {
  background-color: rgba(97, 42, 10, 0.884);
}
h1 {
  color: rgba(136, 78, 45, 0.705);
  text-align: center;
}
h2  {color: rgba(136, 78, 45, 0.705);}
body {
  font-family: "Times New Roman", Times, serif;
  border: 7px solid rgb(158, 134, 119);
  width: 450px;
  margin: 50px auto;
  background-color: white;
  padding: 25px 75px;
  border-radius: 10px;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  color: rgba(136, 78, 45, 0.705);
}
img {
  align-self: center;
}
p {
  text-align: center;
  font-size: large;
}
h2 {
  color: rgba(136, 78, 45, 0.705);
}
