html {
  background-color: rgb(203, 210, 216);
}
h1 {
  color: rgb(116, 5, 5);
  text-decoration: underline black;
}
h2 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: black;
  text-decoration: underline rgb(116, 5, 5);
}
p {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 14px;
}
.center {
  text-align: center;
}
body {
  width: 600px;
  margin: 25px auto;
  padding: 25px 150px 50px;
}
img {
  border-radius: 14px;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
