body {
  font-family: Arial, sans-serif;
  background-color: black;
  padding: 20px;
  color: white;
}
h1 {
  font-size: 500%;
  margin-top: 10%;
  text-align: center;
}
.slider-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
  margin-bottom: 10%;
}

.slider-container span {
  margin: 0 10px;
}

.slider-container input[type="range"] {
  width: 100%;
}