html {
  background-image: url(img/al-janoub-al-wakrah-stadium-qatar-zha170519-7.webp);
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  text-align: center;
  background-color: white;
  opacity: 1;
  border-radius: 15px;
  width: 600px;
  margin: 25px auto;
  padding: 25px 150px 50px;
}
.Pelé {
  margin: 25px auto;
  border-radius: 50px;
  width:540px
}
